In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /home/user/code/jupyterenvironment/lib/python3.9/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /home/user/code/jupyterenvironment/lib/python3.9/site-packages (from openpyxl) (1.1.0)

In [2]:
import pandas as pd
from utils import *

2021-12-17 15:35:19.861593: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2021-12-17 15:35:19.861629: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
[nltk_data] Downloading package stopwords to /home/user/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Downloading https://raw.githubusercontent.com/stanfordnlp/stanza-resources/main/resources_1.3.0.json:   0%|   â€¦

2021-12-17 15:35:22 INFO: Downloading default packages for language: es (Spanish)...
2021-12-17 15:35:23 INFO: File exists: /home/user/stanza_resources/es/default.zip.
2021-12-17 15:35:29 INFO: Finished downloading models and saved to /home/user/stanza_resources.
2021-12-17 15:35:29 INFO: Loading these models for language: es (Spanish):
=======================
| Processor | Package |
-----------------------
| tokenize  | ancora  |
| mwt       | ancora  |
| pos       | ancora  |
| lemma     | ancora  |
| depparse  | ancora  |
| ner       | conll02 |
=======================

2021-12-17 15:35:29 INFO: Use device: cpu
2021-12-17 15:35:29 INFO: Loading: tokenize
2021-12-17 15:35:29 INFO: Loading: mwt
2021-12-17 15:35:29 INFO: Loading: pos
2021-12-17 15:35:29 INFO: Loading: lemma
2021-12-17 15:35:29 INFO: Loading: depparse
2021-12-17 15:35:29 INFO: Loading: ner
2021-12-17 15:35:31 INFO: Done loading processors!

In [3]:
sanos = pd.read_excel('ALIMENTOS.xlsx', sheet_name='SANOS', index_col=False)
nosanos = pd.read_excel('ALIMENTOS.xlsx', sheet_name='NO_SANOS', index_col=False)

In [4]:
sanos.alimento = sanos.alimento.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8').str.lower()
sanos.clase = sanos.clase.str.lower()
nosanos.alimento = nosanos.alimento.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8').str.lower()
nosanos.clase = nosanos.clase.str.lower()

In [5]:
sanos.clase = sanos.clase.str.replace('fruto_seco','frutoseco')

In [6]:
sanos.head()

    clase     alimento
0  frutas  albaricoque
1  frutas     arandano
2  frutas        breva
3  frutas       cereza
4  frutas      ciruela

In [7]:
sanos['lemma'] = sanos.apply(aliment_lemma,axis=1)
nosanos['lemma'] = nosanos.apply(aliment_lemma,axis=1)

sanos['clase_lemma'] = sanos.apply(clase_lemma,axis=1)
nosanos['clase_lemma'] = nosanos.apply(clase_lemma,axis=1)

In [8]:
sanos.clase.unique()

array(['frutas', 'frutoseco', 'vegetales', 'carbohidratos', 'proteinas',
       'lacteos'], dtype=object)

In [19]:
sanos[sanos.clase == 'proteinas'] #for exploring

        clase alimento    lemma clase_lemma
72  proteinas    carne    carne    proteina
73  proteinas  chancho  chancho    proteina
74  proteinas    cerdo    cerdo    proteina
75  proteinas  pescado  pescado    proteina
76  proteinas      pez      pez    proteina
77  proteinas     atun     atun    proteina
78  proteinas  tilapia  tilapia    proteina
79  proteinas  sardina  sardina    proteina
80  proteinas    pollo    pollo    proteina
81  proteinas  gallina  gallina    proteina
82  proteinas     pavo     pavo    proteina
83  proteinas    huevo    huevo    proteina

In [10]:
sanos.clase_lemma = sanos.clase_lemma.str.replace('frutonecer','frutoseco')

In [11]:
nosanos[nosanos.clase == 'dulces']

Empty DataFrame
Columns: [clase, alimento, lemma, clase_lemma]
Index: []

In [12]:
#saving to pkl
sanos.to_pickle('sanos.pkl')
nosanos.to_pickle('nosanos.pkl')